.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

ul{
    list-style-type: none;
}

.header-title{
    text-transform: uppercase;
    text-align: center;
}

.button-plaque {
  background-color: #29465B; /* Bleu plaque */
  border: 5px solid #3C6E5A; /* Vert mobilier urbain */
  border-radius: 12px;
  color: white;
  padding: 0.5rem 1.2rem;
  font-family: 'Lexend', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.button-plaque:hover {
  transform: scale(1.05);
  cursor: pointer;
}