.Articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

li {
    list-style-type: none;
    margin: 5rem;
}

h2, h4 {
    text-align: center;
}

a {
  text-decoration: none;
  color: #f7146b; 
}

img {
    display: block;
    margin: auto;
}

.popular-article {
  border: 1px red solid;
}